.reservation-page {

    .reservation-page__header {
        padding: 25px 0;
        background-color: var(--white);
        border-bottom: 1px solid #ECEEF2;

        .reservation-page__content {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .reservation-page__title {
            font-size: 30px;
            color: #5F5F5F;
            text-decoration: none;
            font-weight: 400;
        }

        .generic-purple-btn {
            border-radius: 10px;
            padding: 10px 15px;
        }
    }

    .reservation-page__list {
        background-color: var(--white);
        margin: 60px 0;
        padding: 15px 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 5px 0 #b5b1b1ad;

        .generic-modal {

            &.reservation-page__add-branch {
                border: 2px solid #DEE2E6;
                background-color: transparent;
                color: #797979;
                padding: 5px 15px;
                border-radius: 5px;
                align-self: flex-end;
                margin: 0 15px 15px 0;

                .btn-secondary {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    color: #797979;
                    outline: none;
                }


            }

        }

        .table {
            position: relative;

            thead {
                tr {
                    th {
                        color: #282828;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: #717171;

                        .reservation-settings {
                            .generic-modal {
                                .generic-modal__show-popup-btn {
                                    &.btn-secondary {
                                        background-color: transparent;
                                        border: none;
                                        padding: 0;
                                        color: #797979;
                                        outline: none;
                                    }
                                }
                            }
                        }
                    }
                }


            }
        }
    }
}